---
import Layout from '../layouts/Layout.astro';
import Cabecera from '../components/Cabecera.astro';
---

<Layout title="About the project">
    <Cabecera />
    <h1>About the project</h1>
    <p>This project is a simple Astro project that I created to learn how to use Astro. It is a simple website that displays a catalog of products. The products are stored in a JSON
    file and are displayed using a component called Catalogo. The website also has a header component called Cabezera that displays a welcome message and some links to the Astro documentation and community.
    </p>
</Layout>