---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<h1 class="p-8 "> 
    Hola Esto es una prueba de texto para ver como se comporta un texto grande en mi pagina web de prueba. Es necesarioy y muy importante. Hola Esto es una prueba de texto para ver como se comporta un texto grande en mi pagina web de prueba. Es necesarioy y muy importante. Hola Esto es una prueba de texto para ver como se comporta un texto grande en mi pagina web de prueba. Es necesarioy y muy importante
</h1>
